<body class="bg-light">

  <%= render "shared/header" %>
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>購入画面</h2>
    </div>
    
    <%= form_with model: [@performance, @schedule, @order], url: performance_schedule_orders_path(@performance,@schedule), id: 'charge-form', local: true do |f| %>
    
      <div class="container">
        <div class="row">
          <div class="col-md">
            <%= image_tag @performance.images[0] ,class:"img-thumbnail" %>
          </div>
        </div>
      </div>

      <div class="row mx-auto" style="width: 50%;">
        <h4 class="mb-3">公演日時</h4>
        <h5><%= @schedule.performance_day %><br>   
        <%= @schedule.performance_time.strftime('%k:%M') %>開演の部</h5>
        
            <div class='col mb-3'>
              <h4>前売り１枚<span class='text', id = "price" ><%= @performance.price %></span>円</h4>
            </div>

            <div class="col-12 form-select-lg mb-3">
              <h4 class="mb-3", id = "count">購入枚数</h4>
              <%= f.select :buy_count, [["1枚", 1], ["2枚", 2],["3枚", 3], ["4枚", 4],["5枚", 5], ["6枚", 6],["7枚", 7], ["8枚", 8],["9枚", 9], ["10枚", 10]], include_blank: "購入枚数を選択して下さい" %>
            </div>

          <div class='col mb-3'>
              <h4>合計金額<span id = "total_price"></span>円</h4>
          </div>

          

           <%= f.submit "購入する" ,class:"w-100 btn btn-primary btn-lg", id:"button" %>
          <%= link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    </div>
    <% end %>
  </main>

  </body>
</html>