        <div class="col">
          <div class="card shadow-sm">  
            <%= link_to performance_path(performance.id) do %><%= image_tag performance.image, class:"img-fluid"%><% end %>
            <div class="card-body">
              <p class="card-text">団体名：<%= performance.admin_user.company_name %></p>
              <p class="card-text">公演名：<%= performance.name %></p>
              <p class="card-text">劇場：<%= performance.theater %></p>
              <p class="card-text">日程：<%= performance.start_day %>〜<%= performance.last_day %></p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><%= performance.created_at %></small>
              </div>
            </div>
          </div>
        </div>
