<%= render "shared/header" %>

  <div class="container-fluid">
    <div class="row">
      <div class ="col mx-auto">
        <h2 class="text-center">公演の情報を入力</h2>
      </div> 
     
<%= form_with model: @performance, url: performances_path, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>
  
        <%# 公演ビジュアル %>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 mx-auto" style="width: 50%;">
            公演ビジュアル<br>
             <div id="previews"></div>
            <%= f.file_field :image, name: 'performance[image]', id:"performance-image" %>
          </div>  
        </div>
        <%# /公演ビジュアル %>
      

    <%# 公演の概要 %>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 ">
        <div class="form-group mx-auto" style="width: 50%;">
          <%= f.label :name, '公演名', class: 'form-control' %>
          <%= f.text_field :name, placeholder: "公演名（必須）", maxlength:"40", class: 'form-control' %>
          <%= f.label :thater, '劇場', class: 'form-control' %>
          <%= f.text_field :theater, placeholder: "劇場名（必須）", maxlength:"40", class: 'form-control' %>
          <%= f.label :date, '日程', class: 'form-control' %>
          <%= f.date_field :start_day, placeholder: " 日程（必須）", class: 'form-control'%>
          〜
          <%= f.date_field :last_day, placeholder: " 日程（必須）", class: 'form-control'%>
          <%= f.label :info, '公演の概要', class: 'form-control' %>
          <%= f.text_area :info, placeholder: "公演の概要（必須）", maxlength:"1000", class: 'form-control'%>
        </div>
      </div>          
    </div>
    <%# /公演の概要 %>


      <%# 販売価格 %>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3"> 
        <div class="form-group mx-auto" style="width: 50%;">
          <%= f.label :price, '価格', class: 'form-control' %>
          <%= f.text_field :price, placeholder: " 価格（必須）", size: "50", maxlength:"40"%>
          円
        </div>
      </div>  
    </div>
      <%# /販売価格 %>


      <%# 下部ボタン %>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3"> 
        <div class="form-group mx-auto" style="width: 50%;">
        <%= f.submit "出品する" ,class:"sell-btn" %>
        <%= link_to 'もどる', root_path, class:"back-btn" %>
        </div>
      </div>
    </div>    
      <%# /下部ボタン %>  
<% end %>  
