<%= render "shared/header" %>

<%# 公演の概要 %>
<div class="container">
  <div class="row">
    <div class="col-md">
      <%= image_tag @performance.image ,class:"img-thumbnail" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
    <% if admin_user_signed_in? %>
      <% if current_admin_user.id == @performance.admin_user_id %>
        <button type="button" class= "btn btn-lg btn-outline-secondary"><%= link_to "公演情報の編集", edit_performance_path, method: :get %></button>
        <button type="button" class= "btn btn-lg btn-outline-secondary"><%= link_to "削除", method: :delete, class:"btn btn-secondary" %></button>
      <% elsif user_signed_in? %> 
      
      <button type="button" class= "btn btn-lg btn-outline-secondary"><%= link_to "購入画面に進む", class:"item-red-btn"%></button>
      
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center center-block">
      <div class = "mx-auto" style="width: 50%;">
        <table class="table table-sm table-borderless align-middle">
          <tbody>
            <tr>
              <th scope="row"><p class="fs-2">タイトル</p></th>
              <td class="text-center"><p class="fs-2"><%= @performance.name %></p></td>
            </tr>
            <tr>
              <th scope="row"><p class="fs-2">劇場</p></th>
              <td class="text-center"><p class="fs-2"><%= @performance.theater %></p></td>
            </tr>
            <tr>
              <th scope="row"><p class="fs-2">日程</p></th>
              <td class="text-center"><p class="fs-2"><%= @performance.start_day %>〜<%= @performance.last_day %></p></td>
            </tr>
            <tr>
              <th scope="row"><p class="fs-2">価格</p></th>
              <td class="text-center"><p class="fs-2">前売り<%= @performance.price %>円</p></td>
            </tr>
            <tr>
              <th scope="row"><p class="fs-2">公演概要</p></th>
              <td class="text-center"><p class="fs-2"><%= safe_join(@performance.info.split("\n"),tag(:br)) %></p></td>
            </tr>
          </tbody>
        </table>
  </div> 
</div>
  <%# /公演の概要 %>

<%# 公演の登録 %>
<% if admin_user_signed_in? %>
  <% if current_admin_user.id == @performance.admin_user_id %>
    <div class="container">
    <%= form_with model: [@performance, @schedule], local: true do |f| %>

      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 mx-auto" style="width: 50%;"> 
        <table class="table">
          <thead>
            <tr>
              <th>公演日</th>
              <th>公演時間</th>
              <th>座席数</th>
            </tr>
          </thead>
          <tbody class="bulk-registration-form">
            <tr class="item">
              <td>
                <%= f.date_field :performance_day, class: 'form-control' %>
              </td>
              <td>
                <%= f.time_field :performance_time, class: 'form-control' %>
              </td>
              <td>
                <%= f.number_field :stock, class: 'form-control' %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.submit '公演を登録する', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>
<%# /公演の登録 %>

    <div class= 'container'>
      <div class="row mx-auto" style="width: 50%;">
      <h4>＜公演一覧＞</h4>
      <% @schedules.each do |schedule| %>
      <%= form_with model: [@performance, schedule], local: true do |f| %>
        <p class="fs-4">
          <%= schedule.performance_day %>:<%= schedule.performance_time.strftime('%k:%M') %>
          <% if admin_user_signed_in? %>
            <% if current_admin_user.id == @performance.admin_user_id %>
              <%= label_tag :start_of_sales , '販売開始'%>
              <%= check_box_tag :start_of_sales, true, false  %>
              <button type="button" class= "btn btn-lg btn-outline-secondary"><%= link_to "編集", edit_performance_schedule_path(@performance.id, schedule.id), method: :get %></button>
              <button type="button" class= "btn btn-lg btn-outline-secondary"><%= link_to "削除", method: :delete, class:"btn btn-secondary" %></button>
            <% end %>
          <% end %>  
        </p>
      <% end %>
      <% end %>
      </div>
    </div>

  <%#  レビュー機能%>
<% if user_signed_in? %>
<div class="container">
  <div class = "row mx-auto" style="width: 50%;">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <div class="input-group">
        <span class="input-group-text">review</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <button type="button" class="btn btn-secondary btn-lg">submit</button>
    </div>
  </div>
</div>
<% end %>
<%# /レビュー機能%>